USE [master]
GO
/****** Object:  Database [Punto de venta]    Script Date: 21/04/2018 1:34:56 ******/
CREATE DATABASE [Punto de venta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Punto de venta', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Punto de venta.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Punto de venta_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Punto de venta_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Punto de venta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Punto de venta]
GO
USE [Punto de venta]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 21/04/2018 1:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[Idcliente] [int] NOT NULL,
	[Idtelefono] [int] NULL,
	[nombre] [varchar](50) NULL,
	[RFC] [varchar](50) NULL,
	[Iddireccion] [int] NULL,
	[correo] [varchar](50) NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[Idcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRAS]    Script Date: 21/04/2018 1:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRAS](
	[Idcompra] [int] NOT NULL,
	[Idempleado] [int] NULL,
	[Idsumcom] [int] NULL,
 CONSTRAINT [PK_COMPRAS] PRIMARY KEY CLUSTERED 
(
	[Idcompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIRECCION]    Script Date: 21/04/2018 1:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIRECCION](
	[Iddireccion] [int] NOT NULL,
	[estado] [text] NULL,
	[ciudad] [text] NULL,
	[municipio] [text] NULL,
 CONSTRAINT [PK_DIRECCION] PRIMARY KEY CLUSTERED 
(
	[Iddireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 21/04/2018 1:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[Idempleado] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[Idventas] [int] NULL,
	[Idcompra] [int] NULL,
 CONSTRAINT [PK_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[Idempleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTARIOS]    Script Date: 21/04/2018 1:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTARIOS](
	[Idinventario] [int] NOT NULL,
	[Idproducto] [int] NULL,
	[cantidad] [int] NULL,
	[descripcion] [text] NULL,
	[Idsumcom] [int] NULL,
 CONSTRAINT [PK_INVENTARIOS] PRIMARY KEY CLUSTERED 
(
	[Idinventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 21/04/2018 1:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[Idpagos] [int] NOT NULL,
	[efectivos] [int] NULL,
	[credito] [int] NULL,
	[Idsumcom] [int] NULL,
 CONSTRAINT [PK_PAGO] PRIMARY KEY CLUSTERED 
(
	[Idpagos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 21/04/2018 1:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[Idproducto] [int] NOT NULL,
	[codigo de barras] [bigint] NULL,
	[marca] [varchar](50) NULL,
	[nombre] [varchar](50) NULL,
	[Idinventario] [int] NULL,
	[Idsumven] [int] NULL,
	[Idsumcom] [int] NULL,
 CONSTRAINT [PK_PRODUCTOS] PRIMARY KEY CLUSTERED 
(
	[Idproducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 21/04/2018 1:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[Idproveedores] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[Idsumven] [int] NULL,
 CONSTRAINT [PK_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[Idproveedores] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUMA_COMPRA]    Script Date: 21/04/2018 1:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUMA_COMPRA](
	[Idsumcom] [int] NOT NULL,
	[Precio_pro_comp] [int] NULL,
	[Idcompra] [int] NULL,
	[Idpagos] [int] NULL,
	[Idproducto] [int] NULL,
	[Idinventario] [int] NULL,
 CONSTRAINT [PK_SUMA_COMPRA] PRIMARY KEY CLUSTERED 
(
	[Idsumcom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUMA_VENTAS]    Script Date: 21/04/2018 1:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUMA_VENTAS](
	[Idsumven] [int] NOT NULL,
	[Idproducto] [int] NULL,
	[precioproduct] [decimal](18, 0) NULL,
	[Idventas] [int] NULL,
 CONSTRAINT [PK_SUMA_VENTAS] PRIMARY KEY CLUSTERED 
(
	[Idsumven] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONO]    Script Date: 21/04/2018 1:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONO](
	[Idtelefono] [int] NOT NULL,
	[tel_casa] [int] NULL,
	[tel_celular] [int] NULL,
 CONSTRAINT [PK_TELEFONO] PRIMARY KEY CLUSTERED 
(
	[Idtelefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 21/04/2018 1:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[Idventas] [int] NOT NULL,
	[ventas directas] [int] NULL,
	[fecha] [date] NULL,
	[descripcion] [text] NULL,
	[Idsumven] [int] NULL,
 CONSTRAINT [PK_VENTA] PRIMARY KEY CLUSTERED 
(
	[Idventas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_DIRECCION] FOREIGN KEY([Idcliente])
REFERENCES [dbo].[DIRECCION] ([Iddireccion])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_DIRECCION]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_TELEFONO] FOREIGN KEY([Idcliente])
REFERENCES [dbo].[TELEFONO] ([Idtelefono])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_TELEFONO]
GO
ALTER TABLE [dbo].[COMPRAS]  WITH CHECK ADD  CONSTRAINT [FK_COMPRAS_SUMA_COMPRA] FOREIGN KEY([Idcompra])
REFERENCES [dbo].[SUMA_COMPRA] ([Idsumcom])
GO
ALTER TABLE [dbo].[COMPRAS] CHECK CONSTRAINT [FK_COMPRAS_SUMA_COMPRA]
GO
ALTER TABLE [dbo].[INVENTARIOS]  WITH CHECK ADD  CONSTRAINT [FK_INVENTARIOS_PRODUCTOS] FOREIGN KEY([Idinventario])
REFERENCES [dbo].[PRODUCTOS] ([Idproducto])
GO
ALTER TABLE [dbo].[INVENTARIOS] CHECK CONSTRAINT [FK_INVENTARIOS_PRODUCTOS]
GO
ALTER TABLE [dbo].[INVENTARIOS]  WITH CHECK ADD  CONSTRAINT [FK_INVENTARIOS_SUMA_COMPRA] FOREIGN KEY([Idinventario])
REFERENCES [dbo].[SUMA_COMPRA] ([Idsumcom])
GO
ALTER TABLE [dbo].[INVENTARIOS] CHECK CONSTRAINT [FK_INVENTARIOS_SUMA_COMPRA]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_SUMA_COMPRA] FOREIGN KEY([Idpagos])
REFERENCES [dbo].[SUMA_COMPRA] ([Idsumcom])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [FK_PAGO_SUMA_COMPRA]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_PROVEEDOR] FOREIGN KEY([Idproducto])
REFERENCES [dbo].[PROVEEDOR] ([Idproveedores])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_PROVEEDOR]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_SUMA_COMPRA] FOREIGN KEY([Idproducto])
REFERENCES [dbo].[SUMA_COMPRA] ([Idsumcom])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_SUMA_COMPRA]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_SUMA_VENTAS] FOREIGN KEY([Idproducto])
REFERENCES [dbo].[SUMA_VENTAS] ([Idsumven])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_SUMA_VENTAS]
GO
ALTER TABLE [dbo].[SUMA_VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_SUMA_VENTAS_VENTA] FOREIGN KEY([Idsumven])
REFERENCES [dbo].[VENTA] ([Idventas])
GO
ALTER TABLE [dbo].[SUMA_VENTAS] CHECK CONSTRAINT [FK_SUMA_VENTAS_VENTA]
GO
USE [master]
GO
